<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
       
         <div class="width-full min-h-screen bg-zinc-900 text-white ">
            <h1 class="text-3xl text-center pt-2 underline">Notes-Making</h1>
            <div class="p-7 ">
                <form action="/create" method="post">
                    <input class=" w-full rounded-md cursor-pointer block px-10 py-3 bg-zinc-700" 
                    type="text" 
                    placeholder="Write the title.."
                    name="Title">
                
                    <textarea class=" w-full rounded-md cursor-pointer mt-3 px-5 py-3 bg-zinc-700 resize-none mt-2"
                    placeholder="Write your message here..."
                    name="Message"></textarea>
                   
                    <input class="block px-5 py-2 bg-blue-500 rounded-md mt-2 "
                     type="submit" value="create task">

                </form>
            </div>
            <div class="p-7 flex gap-3 flex-wrap">
            <% if(files.length>0){ %>
             <%files.forEach(function(val){%>
              
                    <div class="task w- 72  px-3 py-4 block bg-zinc-700  rounded-md">
                        <h1 class="text-3xl tracking-tighter"><%=val%></h1>
                        <div class="flex justify-between item-center w-full gap-1 mt-4">
                        <a class="text-blue-500 underline inline-block " href="/file/<%=val%>">Read more</a>
                        <a class="text-zinc-300 hover:text-white px-6"   href="/edit/<%=val%>">Edit Filename</a>
                     
                       </div>
                    </div>
                
           
                
             <%})%>
             <% }else{ %>
                <h3 class="text-2xl ">No task yet.</h3>

            <% }%>
                
            </div>
         
        </div>
    
         
            

         
</body>
</html>